<open_emulation_platform version="1.0">
    <system>
        <system_metadata name='metadata'>
            <property name='guid'>88b35296-bb1e-11e8-b24a-000c29a82b4f</property>
            <property name='name'>MySystem</property>
            <property name='version'>1</property>
            <property name='owner'>my_guid</property>
            <property name='description'>Description</property>
            <property name='key_words'>Key words</property>
            <property name='thumbnail'>thumbnail_guid</property>
        </system_metadata>
        <assembly>
            <component>
                <variable datatype="11" name="frame" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
                <variable datatype="11" name="speed" valuerank="0"></variable>
                <variable datatype="11" name="state" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
            </component>
        </assembly>
        <assembly>
            <component>
                <variable datatype="11" name="frame" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
                <variable datatype="11" name="speed" valuerank="0"></variable>
                <variable datatype="11" name="state" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
            </component>
            <component>
                <variable datatype="11" name="frame" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
                <variable datatype="11" name="speed" valuerank="0"></variable>
                <variable datatype="11" name="state" valuerank="0">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</variable>
            </component>            
        </assembly>
    </system>
</open_emulation_platform>